html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f2f2f2;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bold {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
