html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f2f2f2;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bold {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

main {
  padding: 1.5em 1em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.table-scroll {
  overflow: auto;
}

.mat-table {
  display: table !important;
  min-width: 100%;
}
